.header {
  height: 60px;
  background-color: #1e293b;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav button {
  margin-left: 15px;
  padding: 8px 14px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #2563eb;
}
